body {
  display: flex;
  position: absolute;
  height: 50%;
  width: 100%;
  margin: 0;
}

section {
  flex: 1;
  border: 1px solid lightgray;
  height: auto;
}

section,
pre {
  margin: 30px;
}

.messages {
  flex-direction: row-reverse;
  overflow-x: auto;
}